In [10]:
from openpyxl import load_workbook
import pandas as pd
import os


os.chdir('C:\\Users\\b964873\\OneDrive - Cargill Inc\\Work\\Initiatives\\BRM Dashboard')


file = 'Clarizen Time series Master data.xlsx'
sheet = 'IT Project Status - GEOS + CASC'

clarizen_df = pd.read_excel(file,sheet_name = sheet, header=0)

#convert Task name to lower case to match with Apptio data
clarizen_df['Task Name'] = clarizen_df['Task Name'].str.lower()
clarizen_df.sort_values(by = ['Task Name','Month','Today'], inplace=True)

clarizen_df['Month'] = clarizen_df['Month']+1

clarizen_df.head()

,ID,Name,Task Name,Month,Today,Activation window,Project Execution Status (Current),Overshoot,Project Manager (Current),Portfolio Manager,...,Created By,Created On,# of Resources,Labor Resources,Resources,Files,Included in FY Budget,Cost Type,Task Year,EAC2
22594,P-511704,GEOS EU - Galileo (TC2) - IT Infra activities,-511704 - imp - cap costs - brocklebank - sr c...,2,2022-08-08 05:30:00,1028.4,Active,-294.9,John Kavanagh,Erik Nekeman,...,Erik Nekeman,2019-03-08 22:56:58.014,0,John Kavanagh,NaN,"Intake Questionnaire.xlsx, P-511704_Assessment...",NaN,NaN,2021.0,NaN
22599,P-511704,GEOS EU - Galileo (TC2) - IT Infra activities,-511704 - imp - cap costs - brocklebank - sr c...,2,2022-08-08 05:30:00,1028.4,Active,-294.9,John Kavanagh,Erik Nekeman,...,Erik Nekeman,2019-03-08 22:56:58.014,0,John Kavanagh,NaN,"Intake Questionnaire.xlsx, P-511704_Assessment...",NaN,NaN,2021.0,NaN
8900,P-511704,GEOS EU - Galileo (TC2) - IT Infra activities,-511704 - imp - cap costs - brocklebank - sr c...,2,2022-08-12 05:30:00,1032.4,Active,-290.9,John Kavanagh,Erik Nekeman,...,Erik Nekeman,2019-03-08 22:56:58.014,0,John Kavanagh,NaN,"Intake Questionnaire.xlsx, P-511704_Assessment...",No,Expense,2021.0,NaN
8905,P-511704,GEOS EU - Galileo (TC2) - IT Infra activities,-511704 - imp - cap costs - brocklebank - sr c...,2,2022-08-12 05:30:00,1032.4,Active,-290.9,John Kavanagh,Erik Nekeman,...,Erik Nekeman,2019-03-08 22:56:58.014,0,John Kavanagh,NaN,"Intake Questionnaire.xlsx, P-511704_Assessment...",No,Expense,2021.0,NaN
22598,P-511704,GEOS EU - Galileo (TC2) - IT Infra activities,-511704 - imp - cap costs - brocklebank - sr c...,3,2022-08-08 05:30:00,1028.4,Active,-294.9,John Kavanagh,Erik Nekeman,...,Erik Nekeman,2019-03-08 22:56:58.014,0,John Kavanagh,NaN,"Intake Questionnaire.xlsx, P-511704_Assessment...",NaN,NaN,2021.0,NaN

In [105]:
#clarizen_df.to_excel('Project portfolio Master file.xlsx',sheet_name = 'Project portfolio Master')

In [11]:
file = 'Apptio Master data.xlsx'
sheet = 'Apptio Master Data'

#loading Apptio data into a variable
apptio_df = pd.read_excel(file,sheet_name = sheet, header=0)
apptio_df.head()

,Service Name,Service Offering,ID,Name,project_cost_type,Project Manager (Apptio),Task Name,task_cost_type,Cost Type (Apptio),Reason for Correction/Non-Labor,...,Group (Apptio),Destiny Cost Center,BuFnID,Region,Country,Primary,Secondary,Actuals,Month,Task Year
0,SAP,Labor,P-1009311,casc emea - bidsheet- price capture solution,Expense,CHIA MAHMOOD,bidsheet zcom68,Expense,3B,NaN,...,CASC Europe Middle East Africa,CHE - 9688 - Cgl Intl SA-CASC EMEA,BU365GOCH,EMEA,switzerland,9688.0,NaN,162.0,1,2022
1,SAP,Labor,P-1072815,casc emea - mycargill portal – new capabilitie...,Expense,Shannon Davie,sap dbt team,Capital,3B,NaN,...,CASC Europe Middle East Africa,BEL - 3237 - NV Cgl CASC EMEA,BU365GOBE,EMEA,belgium,3237.0,NaN,240.0,1,2022
2,SAP,Labor,P-1015844,big4 - sap tcc major enhancements,Expense,Daniela Sobek,emea interco-mirror - nitesh,Expense,3B,NaN,...,CASC Europe Middle East Africa,CHE - 9688 - Cgl Intl SA-CASC EMEA,BU365GOCH,EMEA,switzerland,9688.0,NaN,500.0,1,2022
3,SAP,Labor,P-1015844,big4 - sap tcc major enhancements,Expense,Daniela Sobek,emea interco-mirror - raghav,Expense,3B,NaN,...,CASC Europe Middle East Africa,CHE - 9688 - Cgl Intl SA-CASC EMEA,BU365GOCH,EMEA,switzerland,9688.0,NaN,2.0,1,2022
4,SAP,Labor,P-1015844,big4 - sap tcc major enhancements,Expense,Daniela Sobek,emea interco-mirror - abhinav,Expense,3B,NaN,...,CASC Europe Middle East Africa,CHE - 9688 - Cgl Intl SA-CASC EMEA,BU365GOCH,EMEA,switzerland,9688.0,NaN,366.0,1,2022

In [12]:
df3 = clarizen_df.merge(apptio_df, how = "left", on=['ID','Month'])
#df3.head()
df3.to_excel('Project portfolio Master file.xlsx', sheet_name = 'Project portfolio Master')